<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition template="/layouts/commonRegistration.xhtml">
		<ui:define name="content">
		</ui:define>
	</ui:composition>
	
</body>
</html>