<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<h:outputStylesheet>name = "css/styles.css"</h:outputStylesheet>
</h:head>
	<ui:composition>
		<h1>The Car Store</h1>
	</ui:composition>
</html>